* {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.summary {
    font-size: 21px;
    color: gray;
}

#copyright {
    text-align: right;
    color: gray;
}